@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif, Arial;
  box-sizing: border-box; }

a {
  color: #31708f; }
  a:hover {
    color: #202020; }

body {
  background-color: #ededed; }

pre {
  white-space: pre-wrap; }

code {
  font-family: monospace; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

ul {
  list-style: none; }

li {
  text-decoration: none; }

a {
  text-decoration: none; }

.center {
  text-align: center; }

.italic {
  font-style: italic; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.float-right {
  float: right; }

.red-text {
  color: #a94442; }

.blue-text {
  color: #31708f; }

.green-text {
  color: #3c763d; }

header {
  background: white; }
  header .logo {
    display: inline-block;
    width: 30%;
    padding: 10px; }
  header .nav {
    display: inline-block;
    width: 65%; }
    header .nav > ul > li {
      display: inline-block; }
      header .nav > ul > li > a {
        text-align: center;
        color: #31708f;
        padding: 5px;
        margin-right: 10px;
        border-bottom: 1px solid transparent;
        transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -ms-transition: all 300ms ease; }
        header .nav > ul > li > a:hover {
          color: #a94442;
          border-bottom: 1px solid #a94442; }

.dropdown {
  position: relative; }
  .dropdown::after {
    content: " › ";
    display: inline-block;
    transform: rotate(90deg); }

.sub-menu {
  display: none;
  position: absolute;
  top: 48px;
  background: #31708f;
  border-radius: 3px; }
  .sub-menu > li {
    display: block; }
    .sub-menu > li > a {
      color: white;
      padding: 7px 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      display: block; }
      .sub-menu > li > a:hover {
        color: #31708f;
        background: white;
        transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -ms-transition: all 300ms ease; }

.content {
  padding: 20px;
  background: white;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #ededed;
  border-radius: 5px; }

.script-code {
  background: #202020;
  color: white; }
  .script-code span {
    color: #31708f; }

.slideshow-container {
  position: relative; }
  .slideshow-container .slide {
    position: relative;
    display: none;
    background-color: #202020;
    border-radius: 10px;
    overflow: hidden; }
    .slideshow-container .slide img {
      width: 100%;
      vertical-align: middle; }
    .slideshow-container .slide .caption {
      position: absolute;
      left: 25%;
      right: 25%;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ededed;
      font-weight: lighter;
      padding: 15px 0;
      border-radius: 10px 10px 0 0; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ededed;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 18px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease; }

.next {
  right: 1px;
  border-radius: 50% 0 0 50%; }

.prev {
  left: 1px;
  border-radius: 0 50% 50% 0; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.form {
  width: 90%;
  padding: 1em 2em;
  background: #31708f;
  margin: 0 auto;
  border: 1px solid #31708f;
  border-radius: 5px;
  color: #ededed; }
  .form input[type=text],
  .form input[type=number],
  .form input[type=email],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
    .form input[type=text]:focus,
    .form input[type=number]:focus,
    .form input[type=email]:focus,
    .form select:focus,
    .form textarea:focus {
      outline: none;
      border: 1px solid #31708f; }
  .form input[type=button],
  .form input[type=submit],
  .form input[type=reset] {
    padding: 10px;
    background-color: #ededed;
    color: #202020;
    margin: 5px 0;
    border-radius: 5px; }
  .form label {
    display: inline-block;
    padding: 10px; }

.hide {
  display: none; }

.show {
  display: block; }

.error {
  color: red;
  text-shadow: 0 0 2px black;
  padding: 2px; }

#result {
  color: #31708f; }
  #result h4 {
    padding: 10px;
    margin: 2px;
    border: 1px solid #ededed;
    box-shadow: 0 0 5px #ededed; }

table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden; }
  table tr {
    color: white;
    background-color: #31708f; }
    table tr td {
      padding: 10px; }

.copyright {
  padding: 20px;
  background: white; }

/*# sourceMappingURL=style.css.map */
