
.content
  padding: 20px
  background: white
  margin: 0 auto
  margin-top: 10px
  border: 1px solid $lightgray
  border-radius: 5px


.user
  display: none
  text-align: center
  span
    font-size: 2em

    
.script-code
  background: $darkgray
  color: white
  span
    color: $blue




.slideshow-container
  position: relative
  .slide
    position: relative
    display: none
    background-color: $darkgray
    border-radius: 10px
    overflow: hidden
    img
      width: 100%
      vertical-align: middle
    .caption
      position: absolute
      left: 25%
      right: 25%
      bottom: 0
      background-color: rgba(0, 0, 0, 0.5)
      color: $lightgray
      font-weight: lighter
      padding: 15px 0
      border-radius: 10px 10px 0 0

.prev,
.next
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  margin-top: -22px
  padding: 16px
  color: $lightgray
  background-color: rgba(0, 0, 0, 0.3)
  font-weight: bold
  font-size: 18px
  +transition(0.4s)


.next
  right: 1px
  border-radius: 50% 0 0 50%
.prev
  left: 1px
  border-radius: 0 50% 50% 0


.prev:hover,
.next:hover
  background-color: rgba(0, 0, 0, 0.8)




//Module 4

input[type=text],
input[type=number],
input[type=email],
input[type=password],
select,
textarea
  display: block
  width: 100%
  margin: 0 auto
  padding: 10px
  border-radius: 5px
  border: none
  box-shadow: 0 0 5px rgba(0,0,0, 0.4)
  &:focus
    outline: none
    border: 1px solid $blue

input[type=button],
input[type=submit],
input[type=reset]
  padding: 10px
  background-color: $lightgray
  color: $darkgray
  margin: 5px 0
  border-radius: 5px
  outline: none


.form
  width: 90%
  padding: 1em 2em
  background: $blue
  margin: 0 auto
  border: 1px solid $blue
  border-radius: 5px
  color: $lightgray


label
  display: inline-block
  padding: 10px
.hide
  display: none
.show
  display: block
.error
  color: red
  text-shadow: 0 0 2px black
  padding: 2px



#result
  color: $blue
  h4
    padding: 10px
    margin: 2px
    border: 1px solid $lightgray
    box-shadow: 0 0 5px $lightgray

#dateResult
  color: $blue
  h4
    padding: 10px
    margin: 2px
    border: 1px solid $lightgray
    box-shadow: 0 0 5px $lightgray


//Module 5
table
  width: 100%
  border-radius: 10px
  overflow: hidden
  tr
    color: white
    background-color: $blue
    td
      padding: 10px


// module 10

#map
  height: 500px
  width: 100%
  border: 0.5em solid $blue
  border-radius: 0.5em
  box-shadow: 0 0 5px black


// Module 11

.paragraph
  p
    box-shadow: 0 0 0.2em $darkgray
    border-radius: 0.5em
    padding: 1em
    text-align: center
    color: $blue


.readmore
  width: 100%
  margin: 0 auto
  border: none
  background: $blue
  color: $lightgray
  padding: 1em
  border-radius: 0.3em
  box-shadow: 0 0 0.1em black
