header
  background: white
  .logo
    display: inline-block
    width: 30%
    padding: 10px

  .nav
    display: inline-block
    width: 65%
    >ul
      >li
        display: inline-block
        >a
          text-align: center
          color: $blue
          padding: 5px
          margin-right: 10px
          border-bottom: 1px solid rgba(0, 0, 0, 0)
          +transition(300ms)
          &:hover
            color: $red
            border-bottom: 1px solid $red

.dropdown
  position: relative
  &::after
    content: "\00a0 \203A \00a0"
    display: inline-block
    transform: rotate(90deg)


.sub-menu
  display: none
  position: absolute
  top: 48px
  background: $blue
  border-radius: 3px
  >li
    display: block
    >a
      color: white
      padding: 7px 15px
      border-bottom: 1px solid rgba(255,255,255, 0.3)
      display: block
      &:hover
        color: $blue
        background: white
        +transition(300ms)
